
<%switch (session.submenu){
    case "Aulas":%>
            <div>
                <div class="subsubmenu">
                    <button id='subsubmenu_AsignacionAulas' onclick="cambiarSubmenu(event, 'Aulas', 'AsignacionAulas')" class="btn btn-default">Asignación aulas</button>
                    <span>/</span>
                    <button id='subsubmenu_Aulas' onclick="cambiarSubmenu(event, 'Aulas', 'Aulas')" class="btn btn-default">Aulas</button>
                </div>
            </div>
    <%        break;
    default:
        break;
}%>