<a href="<%=CONTEXT%>/logout" ><button class="btn pull-right">Cerrar Sesion</button></a>
<h1>No tiene acceso permitido a este contenido contacte con el Jefe de Estudios si debería tenerlo</h1>

<h1>Salga de este área o cierre sesión</h1>
