{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended"
        
    ],
    "plugins": ["prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "ignorePatterns": ["public/js/libraries/", "node_modules/", "views/"],
    "rules": {
        "prettier/prettier": ["error"],
        "no-await-in-loop": 1,
        "no-plusplus": 0,
        "no-continue": 1,
        "guard-for-in": 1,
        "no-restricted-syntax": 0,
        "no-use-before-define": 0,
        "no-console": ["error", { "allow": ["warn", "error"] }]
    }
}