<div id="nuevaNotaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nota de horario</h4>
        </div>
        <div class="modal-body" id="modal_note_body">

        </div>
      </div>
      
    </div>
  </div>
  
</div>

<script>

//id de curso semestre grupo y notaId sirve para saber si es editar (id) o añadir una nueva (false)
function anadirNota(id,notaId,asignaturaId){
  notaId === false ?  notaId = false : notaId = Number(notaId)
  let div = document.createElement('div');
  let curso = id.split("_")[1];
  let grupo = Number(id.split("_")[3]);
  let semestre = Number(id.split("_")[2]);
  let cursoArray = asignacionsHorario.find(function (obj) { return obj.curso === curso});
  let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre})
  let grupoArray = semestreArray.grupos.find(function (obj) { return obj.grupoCodigo === grupo})
  let asignaturas = grupoArray.asignaturas;
  let options=`<option value="grupo">${grupoArray.grupoNombre}</option>`
  for (let i = 0; i<asignaturas.length; i++){ 
     let s1 = semestre === 1 && (asignaturas[i].semestre === '1S' || asignaturas[i].semestre === '1S-2S' || asignaturas[i].semestre === 'A' || asignaturas[i].semestre === 'I')
     let s2 = semestre === 2 && (asignaturas[i].semestre === '2S' || asignaturas[i].semestre === '1S-2S' || asignaturas[i].semestre === 'A' || asignaturas[i].semestre === 'I')    
     if(s1 || s2){
        let n = "";
        asignaturas[i].acronimo !== null ? n=asignaturas[i].acronimo : n=asignaturas[i].nombre;
        options+=`<option value="${asignaturas[i].identificador}" title="${asignaturas[i].nombre} (${asignaturas[i].codigo})">${n}</option>`    
     }
    }
  div.innerHTML =`<form method="post"><p id="nota_horario_${curso}_${semestre}_${grupo}_${notaId}">
  <input type="hidden" name="momentaneo" id="horario_${curso}_${semestre}_${grupo}_${notaId}" value="">
  <div class="form-group"><select  class="form-control" id="select_${notaId}">${options}</select></div> 
  <textarea class="form-control rounded-0" name="textarea" id="text_horario_${curso}_${semestre}_${grupo}_${notaId}" rows="3" placeholder="Introducir nota" maxlength="300"></textarea>
  </p>
  <button type="button" class="btn btn-default" onclick = "guardarNota('horario_${curso}_${semestre}_${grupo}_${notaId}')">
  <span class="glyphicon glyphicon-ok"></span>
  </button> 
  <button type="button" class="btn btn-default" onclick = "eliminarNota('horario_${curso}_${semestre}_${grupo}_${notaId}', ${notaId})">
  <span class="glyphicon glyphicon-trash"></span>
  </button>  
  </form>`
  let node = div.firstChild;
  let contenedor = document.getElementById("modal_note_body")
  while (contenedor.firstChild) {
    contenedor.removeChild(contenedor.firstChild);
}
  contenedor.appendChild(node)
  //si la nota ya existia se debe actualizar solo por lo que se debe cargar su contenido
   if(notaId !== false){
       //sino es un numero es una asignacion de grupo
      asignaturaId = isNaN (asignaturaId) ? "grupo" : Number(asignaturaId);
      let select = document.getElementById("select_"+notaId)
      $("#select_"+notaId).val(asignaturaId);
      let texto = document.getElementById("nota_"+id).children[3].innerHTML
      $("#text_horario_"+curso+"_"+semestre+"_"+grupo+"_"+notaId).val(texto);
  }
  $("#nuevaNotaModal").modal();

}

function guardarNota(id){    
 let curso = id.split("_")[1];
 let notaId = id.split("_")[4];
 //si no hay un id quiere decir que es una nota nueva sino que es una actualización de una existente
 notaId === "false" ?  notaId = false : notaId = Number(notaId)
 let grupo = Number(id.split("_")[3]);
 let semestre = Number(id.split("_")[2]);
 let asignaturaIdentificador = isNaN(document.getElementById("select_"+ notaId).value) ? "grupo" : Number(document.getElementById("select_"+ notaId).value)
 let cursoArray = asignacionsHorario.find(function (obj) { return obj.curso === curso});
 let semestreArray = cursoArray.semestres.find(function (obj) { return obj.semestre === semestre})
 let grupoArray = semestreArray.grupos.find(function (obj) { return obj.grupoCodigo === grupo})
 let asignatura = grupoArray.asignaturas.find(function (obj) { return (obj.identificador === asignaturaIdentificador )});
 //sino hay asignatura es porque es una asignatura de grupo
 if(!asignatura){
    asignatura={}
    asignatura.acronimo = grupoArray.grupoNombre
    asignatura.nombre = "Nota de grupo"
    asignatura.codigo = grupoArray.grupoNombre
        
 }
 let asignaturaNombreOAcronimo = asignatura.acronimo !== null ? asignatura.acronimo : asignatura.nombre;
 let text = document.getElementById("text_"+id).value;
 let path = notaId === false ? '/crearHorariosNota' : '/actualizarHorariosNota'
  $.ajax({
        url: contextPath+'/coordinador'+path,
        method: 'POST',
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({ nota: text, asignaturaId: asignaturaIdentificador, grupoId: grupo, notaId: notaId})
        }).done(function(res) {
    if(!res.success){
        alert(res.msg)
    }else{
        switch (res.accion){
            case "create":
                let div = document.createElement('div');
                div.innerHTML = `<p id="nota_horario_${curso}_${semestre}_${grupo}_${res.notaUpdate.identificador}">
                <span title="${asignatura.nombre} (${asignatura.codigo})">(${asignaturaNombreOAcronimo})</span>
                <button type="button" class="btn btn-default" onclick = "anadirNota('horario_${curso}_${semestre}_${grupo}_${res.notaUpdate.identificador}', ${res.notaUpdate.identificador}, '${asignaturaIdentificador}')">
                <span class="glyphicon glyphicon-pencil"></span> 
                </button>
                <button type="button" class="btn btn-default" onclick = "eliminarNota('horario_${curso}_${semestre}_${grupo}_${res.notaUpdate.identificador}', ${res.notaUpdate.identificador})">
                <span class="glyphicon glyphicon-trash"></span> 
                </button>
                <span>${text}</span>
                </p>`
                let node = div.firstChild;
                let contenedor = document.getElementById("nota_"+curso+"_"+semestre+"_"+grupo)
                contenedor.appendChild(node)
                break;
            case "update":
                let p = document.getElementById("nota_"+id)
                p.children[0].title =`${asignatura.nombre} (${asignatura.codigo})">(${asignaturaNombreOAcronimo})`
                p.children[0].innerHTML = "("+asignaturaNombreOAcronimo+")"
                p.children[1].onclick = function(){anadirNota(`horario_${curso}_${semestre}_${grupo}_${notaId}`, notaId, `${asignaturaIdentificador}`)}
                p.children[2].innerHTML = text;
                break;
        }
        
    }
    
    Cancel()            
}).fail( function( jqXHR, textStatus, errorThrown ) {
        alert("Ha habido un error:" + jqXHR.status + " " + textStatus)
    })  
}

function eliminarNota(id, notaId){
    notaId = Number(notaId)
    $.ajax({
    url: contextPath+'/coordinador/eliminarHorariosNota',
    method: 'POST',
    dataType: "json",
    contentType: "application/json",
    data: JSON.stringify({notaId: notaId})
    }).done(function(res) {
        if(!res.success){
            alert(res.msg)
        }else{
                let p = document.getElementById("nota_"+id)
                let parent = p.parentNode;
                parent.removeChild(p);
        }
        Cancel()
    }).fail( function( jqXHR, textStatus, errorThrown ) {
        alert("Ha habido un error:" + jqXHR.status + " " + textStatus)
    })            
}

function Cancel(){
    $("#nuevaNotaModal").modal('hide');
}
</script>