<body>
<script src="<%=contextPath%>/js/funciones.js"></script>

<div class="contenido3">
    <p>Historial</p>
    <iframe src="<%=contextPath%>/archivos" style="width:100%; height: 100%;" ></iframe>
</div>
</body>

<script>
</script>