<a href="<%=contextPath%>/logout" ><button class="btn pull-right">Cerrar Sesion</button></a>
<h1>No tiene acceso permitido a este contenido contacte con su Director/a de departamento o con el Jefe de Estudios</h1>

<h1>Salga de este área o cierre sesión</h1>
