<!-- debe ir dentro de un formulario -->
<!-- el onsubmit debe ser propio de cada sitio en el que se utilice.-->
 <!-- Modal -->
  <div id="nuevoProfesorForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
          <h4 class="modal-title"> Añadir<% if(!onlyProfesor){%> persona <%}else{%> profesor <%}%> al sistema</h4>
        </div>
        <div class="modal-body">
        <form  action = "#" method='post' id="formProfesor">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id='nombreProfesor' name="nombreProfesor" placeholder="Introduzca el nombre" required ></label></p>
                </div>
                <div class="form-group col-md-6">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" id='apellidosProfesor' name="apellidosProfesor" placeholder="Introduzca los apellidos" required ></label></p>                
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id='emailProfesor' name='emailProfesor' required
            placeholder="usuario@upm.es" pattern=".+@upm.es"
            title="La dirección proporcionada debe ser @upm.es">
            </div>
            <% if (!onlyProfesor) {%>
            <div class="form-check">
                <input type="checkbox" name="isProfesor" id="isProfesor" class="form-check-input" value="true" checked>
                <label class="form-check-label" for="exampleCheck1">Marcar si es un profesor</label>
            </div>
            <%}%>
        <input type='submit' value='OK'>
        <button type="button" onclick="Cancel()">Cancelar</button>
        </form>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<script>
let rExps2 = [
        { re: /[\xC0-\xC6]/g, ch: "A" },
        { re: /[\xE0-\xE6]/g, ch: "a" },
        { re: /[\xC8-\xCB]/g, ch: "E" },
        { re: /[\xE8-\xEB]/g, ch: "e" },
        { re: /[\xCC-\xCF]/g, ch: "I" },
        { re: /[\xEC-\xEF]/g, ch: "i" },
        { re: /[\xD2-\xD6]/g, ch: "O" },
        { re: /[\xF2-\xF6]/g, ch: "o" },
        { re: /[\xD9-\xDC]/g, ch: "U" },
        { re: /[\xF9-\xFC]/g, ch: "u" },
        { re: /[\x56]/g, ch: "B" },
        { re: /[\x76]/g, ch: "b" },
        //insensible a h
        { re: /[\x68]/g, ch: "" },
        { re: /[\x48]/g, ch: "" },
        { re: /[\xD1]/g, ch: "N" },
        { re: /[\xF1]/g, ch: "n" }
    ];
function Cancel(){
    let form = $("#nuevoProfesorForm");
    let nombre = document.getElementById('nombreProfesor');
    let apellidos = document.getElementById('apellidosProfesor');
    let email = document.getElementById('emailProfesor');
    nombre.value="";
    apellidos.value="";
    email.value="";
    form.modal('hide');
}
//el form debe definirse en el ejs que se utiliza es el formulario global que se envia, lo mismo con profesores y profesores2
$('#formProfesor').submit(function(event) {
  event.preventDefault();
  let nombre = document.getElementById('nombreProfesor').value.trim();
  let apellidos = document.getElementById('apellidosProfesor').value.trim();
  let email = document.getElementById('emailProfesor').value.trim(); 
  let isProfesor = document.getElementById('isProfesor') ? document.getElementById('isProfesor').checked : true; 
  let profesorExistente = profesores.find(function (obj) { return obj.correo === email; });
  if(profesorExistente){
      alert("El profesor ya está en el sistema es:" +profesorExistente.nombre)
  }else{
  $.ajax({
        url: contextPath+'/anadirProfesor',
        method: 'POST',
        dataType: "json",
        contentType: "application/json",
        data: JSON.stringify({ nombre: nombre, apellido: apellidos, email: email, isProfesor: isProfesor})
        }).done(function(res) {
    if(!res.success){
        alert("Ha habido un error y la persona no se ha podido añadir")
    }
    //se añade al buscador de profesores
  let profesor = {};
  profesor.nombre = apellidos+" "+nombre;
  profesor.correo = email;
  profesor.nombreCorregido = apellidos + ", " + nombre
  profesor.identificador = res.identificador
  profesores.push(profesor);
  let profesorQuitAcentsNombre = profesor.nombre;
  for(let i = 0; i<rExps2.length; i++){
        profesorQuitAcentsNombre = profesorQuitAcentsNombre.replace(rExps2[i].re, rExps2[i].ch);
        profesorQuitAcentsNombre = profesorQuitAcentsNombre.trim();
  }
  let profesorQuitAcents = {};
  profesorQuitAcents.nombre = profesorQuitAcentsNombre;
  profesorQuitAcents.identificador = profesor.identificador;
  profesores2.push(profesorQuitAcents);
  //lo añado al formulario global
    Cancel()            
}).fail( function( jqXHR, textStatus, errorThrown ) {
        alert("Ha habido un error:" + jqXHR.status + " " + textStatus)
    })    
     
  }
  //debo hacerlo con push sino no se actualizan automaticamente

})



</script>
