<%- include consultar.ejs %>
<% if (locals.estado && locals.estado !== null) { %>
  <p><%=estado%></p>
<%}else{%>
    <iframe src="<%=contextPath%>/pdfs/<%=file%>" style="width:100%; height: 75%;" ></iframe>
<% } %> 

